#g_table {
	width: 550px;
	height: 40px;	
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
	background: #ADADAD;
	table-layout:fixed;
}

#td {
	text-align: center;
}

#timer {
	position:relative;
}

#pad_timer {
	width: 250px;
	height: 115px;
	top: 26%;
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
	font-size: 110px;
	color: rgba(190, 190, 190, 0.05);
}
#pad_timer:hover{
	cursor: default;
}

#countdown {
	width: 350px;
	height: 75px;
	top: 55%;
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
	font-size: 20px;
	text-align: center;
	color: #E0E0E0;
}
#countdown:hover {
	cursor: default
}

#b1 {
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
}
#b2 {
	right: 25px;
	position: absolute;
}

#block1 {
	width: 360px;
	height: 300px;
	top: 5%;
	left: 15%;
	position: absolute;
}
#block2 {
	width: 120px;
	height: 300px;
	top: 5%;
	right: 15%;
	position: absolute;
}

#b2ul {
	text-align: right;
	list-style-type: none;
}

#footer_text {	
	width: 550px;
	height: 40px;	
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
	text-align: center;
}
