#head, body {
	background:	#484848;
}

#headp {
	width: 600px;
	height: 93px;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
}
#headp img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#board {
	width: 600px;
	height: 500px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
	background: #FFFFFF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#title_name {
	font-size:50px;
	top:4%;
	left:2%;
	position: absolute;
	font-family: 'Odibee Sans', sans-serif;
	letter-spacing: .175rem;
	font-weight: 600;
	color: rgba(40, 0, 77, .85);
}

#container {
	width: 600px;
	height: 350px;
	top: 18%;
	position: absolute;
	background:	#A7B2C4;
}

#content {
	width: 550px;
	height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
}

#foot {
	width: 600px;
	hegith: 30px;
	top: 93%;
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
}

.unselectable {
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

img {
    max-width: 100%;
    max-height: 100%;
	-webkit-user-drag: none;
}



#bm {
	top: -15px;
	left: 50%;
	transform: translate(-50%, 0%);
	position: absolute;
	background: #FFFFFF;
	user-select: none;
}

.effect {
	border: 2px solid #2c3e50;
	color: #2c3e50;
	display: block;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1rem;
	font-weight: 800;
	letter-spacing: 0.1rem;
	padding: .4rem;
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.effect::before {
	content: "";
	background-color: rgba(167, 178, 196, .8);
	box-shadow: -8px -8px 0 rgba(183, 174, 156, .7), 
				5px 5px 0 rgba(181, 161, 169, .7);
	position: absolute;
	left: 1.5px;
	top: 2px;
	height: 102%;
	width: 102%;
	z-index: -1;
	transition: all 0.4s ease;
}

.effect:hover::before {
	box-shadow: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}