#c_table {	
	width: 550px;
	height: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

#c_table_td{
	text-align: center;
	transition: 0.5s;
}
#c_table_td:hover {
	transition: 0.3s;
	transform: scale(1.1);
	cursor: pointer;
}

img {
	border-radius: 10%;
	text-align: center;
}

#title_name {
	width: 550px;
}
#history {
	width: 100px;
	height: 60px;
	bottom: -5px;
	right: 10px;
	position: absolute;
	max-width: 200%;
	max-height: 200%;
	border-radius: 6%;
}
